@charset "UTF-8";


@include font-face('FontAwesome',
        font-files('#{$icon-font-name}.woff', '#{$icon-font-name}.ttf',
            '#{$icon-font-name}.svg##{$icon-font-svg-id}'
            ), '#{$icon-font-name}.eot'
    );


[class^="#{$iconfont-css-prefix}-"], [class*=" #{$iconfont-css-prefix}-"] {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.#{$iconfont-css-prefix}-glass:before { content: "\f000"; }
.#{$iconfont-css-prefix}-music:before { content: "\f001"; }
.#{$iconfont-css-prefix}-search:before { content: "\f002"; }
.#{$iconfont-css-prefix}-envelope-o:before { content: "\f003"; }
.#{$iconfont-css-prefix}-heart:before { content: "\f004"; }
.#{$iconfont-css-prefix}-star:before { content: "\f005"; }
.#{$iconfont-css-prefix}-star-o:before { content: "\f006"; }
.#{$iconfont-css-prefix}-user:before { content: "\f007"; }
.#{$iconfont-css-prefix}-film:before { content: "\f008"; }
.#{$iconfont-css-prefix}-th-large:before { content: "\f009"; }
.#{$iconfont-css-prefix}-th:before { content: "\f00a"; }
.#{$iconfont-css-prefix}-th-list:before { content: "\f00b"; }
.#{$iconfont-css-prefix}-check:before { content: "\f00c"; }
.#{$iconfont-css-prefix}-times:before { content: "\f00d"; }
.#{$iconfont-css-prefix}-search-plus:before { content: "\f00e"; }
.#{$iconfont-css-prefix}-search-minus:before { content: "\f010"; }
.#{$iconfont-css-prefix}-power-off:before { content: "\f011"; }
.#{$iconfont-css-prefix}-signal:before { content: "\f012"; }
.#{$iconfont-css-prefix}-cog:before { content: "\f013"; }
.#{$iconfont-css-prefix}-trash-o:before { content: "\f014"; }
.#{$iconfont-css-prefix}-home:before { content: "\f015"; }
.#{$iconfont-css-prefix}-file-o:before { content: "\f016"; }
.#{$iconfont-css-prefix}-clock-o:before { content: "\f017"; }
.#{$iconfont-css-prefix}-road:before { content: "\f018"; }
.#{$iconfont-css-prefix}-download:before { content: "\f019"; }
.#{$iconfont-css-prefix}-arrow-circle-o-down:before { content: "\f01a"; }
.#{$iconfont-css-prefix}-arrow-circle-o-up:before { content: "\f01b"; }
.#{$iconfont-css-prefix}-inbox:before { content: "\f01c"; }
.#{$iconfont-css-prefix}-play-circle-o:before { content: "\f01d"; }
.#{$iconfont-css-prefix}-repeat:before { content: "\f01e"; }
.#{$iconfont-css-prefix}-refresh:before { content: "\f021"; }
.#{$iconfont-css-prefix}-list-alt:before { content: "\f022"; }
.#{$iconfont-css-prefix}-lock:before { content: "\f023"; }
.#{$iconfont-css-prefix}-flag:before { content: "\f024"; }
.#{$iconfont-css-prefix}-headphones:before { content: "\f025"; }
.#{$iconfont-css-prefix}-volume-off:before { content: "\f026"; }
.#{$iconfont-css-prefix}-volume-down:before { content: "\f027"; }
.#{$iconfont-css-prefix}-volume-up:before { content: "\f028"; }
.#{$iconfont-css-prefix}-qrcode:before { content: "\f029"; }
.#{$iconfont-css-prefix}-barcode:before { content: "\f02a"; }
.#{$iconfont-css-prefix}-tag:before { content: "\f02b"; }
.#{$iconfont-css-prefix}-tags:before { content: "\f02c"; }
.#{$iconfont-css-prefix}-book:before { content: "\f02d"; }
.#{$iconfont-css-prefix}-bookmark:before { content: "\f02e"; }
.#{$iconfont-css-prefix}-print:before { content: "\f02f"; }
.#{$iconfont-css-prefix}-camera:before { content: "\f030"; }
.#{$iconfont-css-prefix}-font:before { content: "\f031"; }
.#{$iconfont-css-prefix}-bold:before { content: "\f032"; }
.#{$iconfont-css-prefix}-italic:before { content: "\f033"; }
.#{$iconfont-css-prefix}-text-height:before { content: "\f034"; }
.#{$iconfont-css-prefix}-text-width:before { content: "\f035"; }
.#{$iconfont-css-prefix}-align-left:before { content: "\f036"; }
.#{$iconfont-css-prefix}-align-center:before { content: "\f037"; }
.#{$iconfont-css-prefix}-align-right:before { content: "\f038"; }
.#{$iconfont-css-prefix}-align-justify:before { content: "\f039"; }
.#{$iconfont-css-prefix}-list:before { content: "\f03a"; }
.#{$iconfont-css-prefix}-outdent:before { content: "\f03b"; }
.#{$iconfont-css-prefix}-indent:before { content: "\f03c"; }
.#{$iconfont-css-prefix}-video-camera:before { content: "\f03d"; }
.#{$iconfont-css-prefix}-picture-o:before { content: "\f03e"; }
.#{$iconfont-css-prefix}-pencil:before { content: "\f040"; }
.#{$iconfont-css-prefix}-map-marker:before { content: "\f041"; }
.#{$iconfont-css-prefix}-adjust:before { content: "\f042"; }
.#{$iconfont-css-prefix}-tint:before { content: "\f043"; }
.#{$iconfont-css-prefix}-pencil-square-o:before { content: "\f044"; }
.#{$iconfont-css-prefix}-share-square-o:before { content: "\f045"; }
.#{$iconfont-css-prefix}-check-square-o:before { content: "\f046"; }
.#{$iconfont-css-prefix}-arrows:before { content: "\f047"; }
.#{$iconfont-css-prefix}-step-backward:before { content: "\f048"; }
.#{$iconfont-css-prefix}-fast-backward:before { content: "\f049"; }
.#{$iconfont-css-prefix}-backward:before { content: "\f04a"; }
.#{$iconfont-css-prefix}-play:before { content: "\f04b"; }
.#{$iconfont-css-prefix}-pause:before { content: "\f04c"; }
.#{$iconfont-css-prefix}-stop:before { content: "\f04d"; }
.#{$iconfont-css-prefix}-forward:before { content: "\f04e"; }
.#{$iconfont-css-prefix}-fast-forward:before { content: "\f050"; }
.#{$iconfont-css-prefix}-step-forward:before { content: "\f051"; }
.#{$iconfont-css-prefix}-eject:before { content: "\f052"; }
.#{$iconfont-css-prefix}-chevron-left:before { content: "\f053"; }
.#{$iconfont-css-prefix}-chevron-right:before { content: "\f054"; }
.#{$iconfont-css-prefix}-plus-circle:before { content: "\f055"; }
.#{$iconfont-css-prefix}-minus-circle:before { content: "\f056"; }
.#{$iconfont-css-prefix}-times-circle:before { content: "\f057"; }
.#{$iconfont-css-prefix}-check-circle:before { content: "\f058"; }
.#{$iconfont-css-prefix}-question-circle:before { content: "\f059"; }
.#{$iconfont-css-prefix}-info-circle:before { content: "\f05a"; }
.#{$iconfont-css-prefix}-crosshairs:before { content: "\f05b"; }
.#{$iconfont-css-prefix}-times-circle-o:before { content: "\f05c"; }
.#{$iconfont-css-prefix}-check-circle-o:before { content: "\f05d"; }
.#{$iconfont-css-prefix}-ban:before { content: "\f05e"; }
.#{$iconfont-css-prefix}-arrow-left:before { content: "\f060"; }
.#{$iconfont-css-prefix}-arrow-right:before { content: "\f061"; }
.#{$iconfont-css-prefix}-arrow-up:before { content: "\f062"; }
.#{$iconfont-css-prefix}-arrow-down:before { content: "\f063"; }
.#{$iconfont-css-prefix}-share:before { content: "\f064"; }
.#{$iconfont-css-prefix}-expand:before { content: "\f065"; }
.#{$iconfont-css-prefix}-compress:before { content: "\f066"; }
.#{$iconfont-css-prefix}-plus:before { content: "\f067"; }
.#{$iconfont-css-prefix}-minus:before { content: "\f068"; }
.#{$iconfont-css-prefix}-asterisk:before { content: "\f069"; }
.#{$iconfont-css-prefix}-exclamation-circle:before { content: "\f06a"; }
.#{$iconfont-css-prefix}-gift:before { content: "\f06b"; }
.#{$iconfont-css-prefix}-leaf:before { content: "\f06c"; }
.#{$iconfont-css-prefix}-fire:before { content: "\f06d"; }
.#{$iconfont-css-prefix}-eye:before { content: "\f06e"; }
.#{$iconfont-css-prefix}-eye-slash:before { content: "\f070"; }
.#{$iconfont-css-prefix}-exclamation-triangle:before { content: "\f071"; }
.#{$iconfont-css-prefix}-plane:before { content: "\f072"; }
.#{$iconfont-css-prefix}-calendar:before { content: "\f073"; }
.#{$iconfont-css-prefix}-random:before { content: "\f074"; }
.#{$iconfont-css-prefix}-comment:before { content: "\f075"; }
.#{$iconfont-css-prefix}-magnet:before { content: "\f076"; }
.#{$iconfont-css-prefix}-chevron-up:before { content: "\f077"; }
.#{$iconfont-css-prefix}-chevron-down:before { content: "\f078"; }
.#{$iconfont-css-prefix}-retweet:before { content: "\f079"; }
.#{$iconfont-css-prefix}-shopping-cart:before { content: "\f07a"; }
.#{$iconfont-css-prefix}-folder:before { content: "\f07b"; }
.#{$iconfont-css-prefix}-folder-open:before { content: "\f07c"; }
.#{$iconfont-css-prefix}-arrows-v:before { content: "\f07d"; }
.#{$iconfont-css-prefix}-arrows-h:before { content: "\f07e"; }
.#{$iconfont-css-prefix}-bar-chart-o:before { content: "\f080"; }
.#{$iconfont-css-prefix}-twitter-square:before { content: "\f081"; }
.#{$iconfont-css-prefix}-facebook-square:before { content: "\f082"; }
.#{$iconfont-css-prefix}-camera-retro:before { content: "\f083"; }
.#{$iconfont-css-prefix}-key:before { content: "\f084"; }
.#{$iconfont-css-prefix}-cogs:before { content: "\f085"; }
.#{$iconfont-css-prefix}-comments:before { content: "\f086"; }
.#{$iconfont-css-prefix}-thumbs-o-up:before { content: "\f087"; }
.#{$iconfont-css-prefix}-thumbs-o-down:before { content: "\f088"; }
.#{$iconfont-css-prefix}-star-half:before { content: "\f089"; }
.#{$iconfont-css-prefix}-heart-o:before { content: "\f08a"; }
.#{$iconfont-css-prefix}-sign-out:before { content: "\f08b"; }
.#{$iconfont-css-prefix}-linkedin-square:before { content: "\f08c"; }
.#{$iconfont-css-prefix}-thumb-tack:before { content: "\f08d"; }
.#{$iconfont-css-prefix}-external-link:before { content: "\f08e"; }
.#{$iconfont-css-prefix}-sign-in:before { content: "\f090"; }
.#{$iconfont-css-prefix}-trophy:before { content: "\f091"; }
.#{$iconfont-css-prefix}-github-square:before { content: "\f092"; }
.#{$iconfont-css-prefix}-upload:before { content: "\f093"; }
.#{$iconfont-css-prefix}-lemon-o:before { content: "\f094"; }
.#{$iconfont-css-prefix}-phone:before { content: "\f095"; }
.#{$iconfont-css-prefix}-square-o:before { content: "\f096"; }
.#{$iconfont-css-prefix}-bookmark-o:before { content: "\f097"; }
.#{$iconfont-css-prefix}-phone-square:before { content: "\f098"; }
.#{$iconfont-css-prefix}-twitter:before { content: "\f099"; }
.#{$iconfont-css-prefix}-facebook:before { content: "\f09a"; }
.#{$iconfont-css-prefix}-github:before { content: "\f09b"; }
.#{$iconfont-css-prefix}-unlock:before { content: "\f09c"; }
.#{$iconfont-css-prefix}-credit-card:before { content: "\f09d"; }
.#{$iconfont-css-prefix}-rss:before { content: "\f09e"; }
.#{$iconfont-css-prefix}-hdd-o:before { content: "\f0a0"; }
.#{$iconfont-css-prefix}-bullhorn:before { content: "\f0a1"; }
.#{$iconfont-css-prefix}-bell:before { content: "\f0f3"; }
.#{$iconfont-css-prefix}-certificate:before { content: "\f0a3"; }
.#{$iconfont-css-prefix}-hand-o-right:before { content: "\f0a4"; }
.#{$iconfont-css-prefix}-hand-o-left:before { content: "\f0a5"; }
.#{$iconfont-css-prefix}-hand-o-up:before { content: "\f0a6"; }
.#{$iconfont-css-prefix}-hand-o-down:before { content: "\f0a7"; }
.#{$iconfont-css-prefix}-arrow-circle-left:before { content: "\f0a8"; }
.#{$iconfont-css-prefix}-arrow-circle-right:before { content: "\f0a9"; }
.#{$iconfont-css-prefix}-arrow-circle-up:before { content: "\f0aa"; }
.#{$iconfont-css-prefix}-arrow-circle-down:before { content: "\f0ab"; }
.#{$iconfont-css-prefix}-globe:before { content: "\f0ac"; }
.#{$iconfont-css-prefix}-wrench:before { content: "\f0ad"; }
.#{$iconfont-css-prefix}-tasks:before { content: "\f0ae"; }
.#{$iconfont-css-prefix}-filter:before { content: "\f0b0"; }
.#{$iconfont-css-prefix}-briefcase:before { content: "\f0b1"; }
.#{$iconfont-css-prefix}-arrows-alt:before { content: "\f0b2"; }
.#{$iconfont-css-prefix}-users:before { content: "\f0c0"; }
.#{$iconfont-css-prefix}-link:before { content: "\f0c1"; }
.#{$iconfont-css-prefix}-cloud:before { content: "\f0c2"; }
.#{$iconfont-css-prefix}-flask:before { content: "\f0c3"; }
.#{$iconfont-css-prefix}-scissors:before { content: "\f0c4"; }
.#{$iconfont-css-prefix}-files-o:before { content: "\f0c5"; }
.#{$iconfont-css-prefix}-paperclip:before { content: "\f0c6"; }
.#{$iconfont-css-prefix}-floppy-o:before { content: "\f0c7"; }
.#{$iconfont-css-prefix}-square:before { content: "\f0c8"; }
.#{$iconfont-css-prefix}-bars:before { content: "\f0c9"; }
.#{$iconfont-css-prefix}-list-ul:before { content: "\f0ca"; }
.#{$iconfont-css-prefix}-list-ol:before { content: "\f0cb"; }
.#{$iconfont-css-prefix}-strikethrough:before { content: "\f0cc"; }
.#{$iconfont-css-prefix}-underline:before { content: "\f0cd"; }
.#{$iconfont-css-prefix}-table:before { content: "\f0ce"; }
.#{$iconfont-css-prefix}-magic:before { content: "\f0d0"; }
.#{$iconfont-css-prefix}-truck:before { content: "\f0d1"; }
.#{$iconfont-css-prefix}-pinterest:before { content: "\f0d2"; }
.#{$iconfont-css-prefix}-pinterest-square:before { content: "\f0d3"; }
.#{$iconfont-css-prefix}-google-plus-square:before { content: "\f0d4"; }
.#{$iconfont-css-prefix}-google-plus:before { content: "\f0d5"; }
.#{$iconfont-css-prefix}-money:before { content: "\f0d6"; }
.#{$iconfont-css-prefix}-caret-down:before { content: "\f0d7"; }
.#{$iconfont-css-prefix}-caret-up:before { content: "\f0d8"; }
.#{$iconfont-css-prefix}-caret-left:before { content: "\f0d9"; }
.#{$iconfont-css-prefix}-caret-right:before { content: "\f0da"; }
.#{$iconfont-css-prefix}-columns:before { content: "\f0db"; }
.#{$iconfont-css-prefix}-sort:before { content: "\f0dc"; }
.#{$iconfont-css-prefix}-sort-asc:before { content: "\f0dd"; }
.#{$iconfont-css-prefix}-sort-desc:before { content: "\f0de"; }
.#{$iconfont-css-prefix}-envelope:before { content: "\f0e0"; }
.#{$iconfont-css-prefix}-linkedin:before { content: "\f0e1"; }
.#{$iconfont-css-prefix}-undo:before { content: "\f0e2"; }
.#{$iconfont-css-prefix}-gavel:before { content: "\f0e3"; }
.#{$iconfont-css-prefix}-tachometer:before { content: "\f0e4"; }
.#{$iconfont-css-prefix}-comment-o:before { content: "\f0e5"; }
.#{$iconfont-css-prefix}-comments-o:before { content: "\f0e6"; }
.#{$iconfont-css-prefix}-bolt:before { content: "\f0e7"; }
.#{$iconfont-css-prefix}-sitemap:before { content: "\f0e8"; }
.#{$iconfont-css-prefix}-umbrella:before { content: "\f0e9"; }
.#{$iconfont-css-prefix}-clipboard:before { content: "\f0ea"; }
.#{$iconfont-css-prefix}-lightbulb-o:before { content: "\f0eb"; }
.#{$iconfont-css-prefix}-exchange:before { content: "\f0ec"; }
.#{$iconfont-css-prefix}-cloud-download:before { content: "\f0ed"; }
.#{$iconfont-css-prefix}-cloud-upload:before { content: "\f0ee"; }
.#{$iconfont-css-prefix}-user-md:before { content: "\f0f0"; }
.#{$iconfont-css-prefix}-stethoscope:before { content: "\f0f1"; }
.#{$iconfont-css-prefix}-suitcase:before { content: "\f0f2"; }
.#{$iconfont-css-prefix}-bell-o:before { content: "\f0a2"; }
.#{$iconfont-css-prefix}-coffee:before { content: "\f0f4"; }
.#{$iconfont-css-prefix}-cutlery:before { content: "\f0f5"; }
.#{$iconfont-css-prefix}-file-text-o:before { content: "\f0f6"; }
.#{$iconfont-css-prefix}-building-o:before { content: "\f0f7"; }
.#{$iconfont-css-prefix}-hospital-o:before { content: "\f0f8"; }
.#{$iconfont-css-prefix}-ambulance:before { content: "\f0f9"; }
.#{$iconfont-css-prefix}-medkit:before { content: "\f0fa"; }
.#{$iconfont-css-prefix}-fighter-jet:before { content: "\f0fb"; }
.#{$iconfont-css-prefix}-beer:before { content: "\f0fc"; }
.#{$iconfont-css-prefix}-h-square:before { content: "\f0fd"; }
.#{$iconfont-css-prefix}-plus-square:before { content: "\f0fe"; }
.#{$iconfont-css-prefix}-angle-double-left:before { content: "\f100"; }
.#{$iconfont-css-prefix}-angle-double-right:before { content: "\f101"; }
.#{$iconfont-css-prefix}-angle-double-up:before { content: "\f102"; }
.#{$iconfont-css-prefix}-angle-double-down:before { content: "\f103"; }
.#{$iconfont-css-prefix}-angle-left:before { content: "\f104"; }
.#{$iconfont-css-prefix}-angle-right:before { content: "\f105"; }
.#{$iconfont-css-prefix}-angle-up:before { content: "\f106"; }
.#{$iconfont-css-prefix}-angle-down:before { content: "\f107"; }
.#{$iconfont-css-prefix}-desktop:before { content: "\f108"; }
.#{$iconfont-css-prefix}-laptop:before { content: "\f109"; }
.#{$iconfont-css-prefix}-tablet:before { content: "\f10a"; }
.#{$iconfont-css-prefix}-mobile:before { content: "\f10b"; }
.#{$iconfont-css-prefix}-circle-o:before { content: "\f10c"; }
.#{$iconfont-css-prefix}-quote-left:before { content: "\f10d"; }
.#{$iconfont-css-prefix}-quote-right:before { content: "\f10e"; }
.#{$iconfont-css-prefix}-spinner:before { content: "\f110"; }
.#{$iconfont-css-prefix}-circle:before { content: "\f111"; }
.#{$iconfont-css-prefix}-reply:before { content: "\f112"; }
.#{$iconfont-css-prefix}-github-alt:before { content: "\f113"; }
.#{$iconfont-css-prefix}-folder-o:before { content: "\f114"; }
.#{$iconfont-css-prefix}-folder-open-o:before { content: "\f115"; }
.#{$iconfont-css-prefix}-smile-o:before { content: "\f118"; }
.#{$iconfont-css-prefix}-frown-o:before { content: "\f119"; }
.#{$iconfont-css-prefix}-meh-o:before { content: "\f11a"; }
.#{$iconfont-css-prefix}-gamepad:before { content: "\f11b"; }
.#{$iconfont-css-prefix}-keyboard-o:before { content: "\f11c"; }
.#{$iconfont-css-prefix}-flag-o:before { content: "\f11d"; }
.#{$iconfont-css-prefix}-flag-checkered:before { content: "\f11e"; }
.#{$iconfont-css-prefix}-terminal:before { content: "\f120"; }
.#{$iconfont-css-prefix}-code:before { content: "\f121"; }
.#{$iconfont-css-prefix}-reply-all:before { content: "\f122"; }
.#{$iconfont-css-prefix}-mail-reply-all:before { content: "\f122"; }
.#{$iconfont-css-prefix}-star-half-o:before { content: "\f123"; }
.#{$iconfont-css-prefix}-location-arrow:before { content: "\f124"; }
.#{$iconfont-css-prefix}-crop:before { content: "\f125"; }
.#{$iconfont-css-prefix}-code-fork:before { content: "\f126"; }
.#{$iconfont-css-prefix}-chain-broken:before { content: "\f127"; }
.#{$iconfont-css-prefix}-question:before { content: "\f128"; }
.#{$iconfont-css-prefix}-info:before { content: "\f129"; }
.#{$iconfont-css-prefix}-exclamation:before { content: "\f12a"; }
.#{$iconfont-css-prefix}-superscript:before { content: "\f12b"; }
.#{$iconfont-css-prefix}-subscript:before { content: "\f12c"; }
.#{$iconfont-css-prefix}-eraser:before { content: "\f12d"; }
.#{$iconfont-css-prefix}-puzzle-piece:before { content: "\f12e"; }
.#{$iconfont-css-prefix}-microphone:before { content: "\f130"; }
.#{$iconfont-css-prefix}-microphone-slash:before { content: "\f131"; }
.#{$iconfont-css-prefix}-shield:before { content: "\f132"; }
.#{$iconfont-css-prefix}-calendar-o:before { content: "\f133"; }
.#{$iconfont-css-prefix}-fire-extinguisher:before { content: "\f134"; }
.#{$iconfont-css-prefix}-rocket:before { content: "\f135"; }
.#{$iconfont-css-prefix}-maxcdn:before { content: "\f136"; }
.#{$iconfont-css-prefix}-chevron-circle-left:before { content: "\f137"; }
.#{$iconfont-css-prefix}-chevron-circle-right:before { content: "\f138"; }
.#{$iconfont-css-prefix}-chevron-circle-up:before { content: "\f139"; }
.#{$iconfont-css-prefix}-chevron-circle-down:before { content: "\f13a"; }
.#{$iconfont-css-prefix}-html5:before { content: "\f13b"; }
.#{$iconfont-css-prefix}-css3:before { content: "\f13c"; }
.#{$iconfont-css-prefix}-anchor:before { content: "\f13d"; }
.#{$iconfont-css-prefix}-unlock-alt:before { content: "\f13e"; }
.#{$iconfont-css-prefix}-bullseye:before { content: "\f140"; }
.#{$iconfont-css-prefix}-ellipsis-h:before { content: "\f141"; }
.#{$iconfont-css-prefix}-ellipsis-v:before { content: "\f142"; }
.#{$iconfont-css-prefix}-rss-square:before { content: "\f143"; }
.#{$iconfont-css-prefix}-play-circle:before { content: "\f144"; }
.#{$iconfont-css-prefix}-ticket:before { content: "\f145"; }
.#{$iconfont-css-prefix}-minus-square:before { content: "\f146"; }
.#{$iconfont-css-prefix}-minus-square-o:before { content: "\f147"; }
.#{$iconfont-css-prefix}-level-up:before { content: "\f148"; }
.#{$iconfont-css-prefix}-level-down:before { content: "\f149"; }
.#{$iconfont-css-prefix}-check-square:before { content: "\f14a"; }
.#{$iconfont-css-prefix}-pencil-square:before { content: "\f14b"; }
.#{$iconfont-css-prefix}-external-link-square:before { content: "\f14c"; }
.#{$iconfont-css-prefix}-share-square:before { content: "\f14d"; }
.#{$iconfont-css-prefix}-compass:before { content: "\f14e"; }
.#{$iconfont-css-prefix}-caret-square-o-down:before { content: "\f150"; }
.#{$iconfont-css-prefix}-caret-square-o-up:before { content: "\f151"; }
.#{$iconfont-css-prefix}-caret-square-o-right:before { content: "\f152"; }
.#{$iconfont-css-prefix}-eur:before { content: "\f153"; }
.#{$iconfont-css-prefix}-gbp:before { content: "\f154"; }
.#{$iconfont-css-prefix}-usd:before { content: "\f155"; }
.#{$iconfont-css-prefix}-inr:before { content: "\f156"; }
.#{$iconfont-css-prefix}-jpy:before { content: "\f157"; }
.#{$iconfont-css-prefix}-rub:before { content: "\f158"; }
.#{$iconfont-css-prefix}-krw:before { content: "\f159"; }
.#{$iconfont-css-prefix}-btc:before { content: "\f15a"; }
.#{$iconfont-css-prefix}-file:before { content: "\f15b"; }
.#{$iconfont-css-prefix}-file-text:before { content: "\f15c"; }
.#{$iconfont-css-prefix}-sort-alpha-asc:before { content: "\f15d"; }
.#{$iconfont-css-prefix}-sort-alpha-desc:before { content: "\f15e"; }
.#{$iconfont-css-prefix}-sort-amount-asc:before { content: "\f160"; }
.#{$iconfont-css-prefix}-sort-amount-desc:before { content: "\f161"; }
.#{$iconfont-css-prefix}-sort-numeric-asc:before { content: "\f162"; }
.#{$iconfont-css-prefix}-sort-numeric-desc:before { content: "\f163"; }
.#{$iconfont-css-prefix}-thumbs-up:before { content: "\f164"; }
.#{$iconfont-css-prefix}-thumbs-down:before { content: "\f165"; }
.#{$iconfont-css-prefix}-youtube-square:before { content: "\f166"; }
.#{$iconfont-css-prefix}-youtube:before { content: "\f167"; }
.#{$iconfont-css-prefix}-xing:before { content: "\f168"; }
.#{$iconfont-css-prefix}-xing-square:before { content: "\f169"; }
.#{$iconfont-css-prefix}-youtube-play:before { content: "\f16a"; }
.#{$iconfont-css-prefix}-dropbox:before { content: "\f16b"; }
.#{$iconfont-css-prefix}-stack-overflow:before { content: "\f16c"; }
.#{$iconfont-css-prefix}-instagram:before { content: "\f16d"; }
.#{$iconfont-css-prefix}-flickr:before { content: "\f16e"; }
.#{$iconfont-css-prefix}-adn:before { content: "\f170"; }
.#{$iconfont-css-prefix}-bitbucket:before { content: "\f171"; }
.#{$iconfont-css-prefix}-bitbucket-square:before { content: "\f172"; }
.#{$iconfont-css-prefix}-tumblr:before { content: "\f173"; }
.#{$iconfont-css-prefix}-tumblr-square:before { content: "\f174"; }
.#{$iconfont-css-prefix}-long-arrow-down:before { content: "\f175"; }
.#{$iconfont-css-prefix}-long-arrow-up:before { content: "\f176"; }
.#{$iconfont-css-prefix}-long-arrow-left:before { content: "\f177"; }
.#{$iconfont-css-prefix}-long-arrow-right:before { content: "\f178"; }
.#{$iconfont-css-prefix}-apple:before { content: "\f179"; }
.#{$iconfont-css-prefix}-windows:before { content: "\f17a"; }
.#{$iconfont-css-prefix}-android:before { content: "\f17b"; }
.#{$iconfont-css-prefix}-linux:before { content: "\f17c"; }
.#{$iconfont-css-prefix}-dribbble:before { content: "\f17d"; }
.#{$iconfont-css-prefix}-skype:before { content: "\f17e"; }
.#{$iconfont-css-prefix}-foursquare:before { content: "\f180"; }
.#{$iconfont-css-prefix}-trello:before { content: "\f181"; }
.#{$iconfont-css-prefix}-female:before { content: "\f182"; }
.#{$iconfont-css-prefix}-male:before { content: "\f183"; }
.#{$iconfont-css-prefix}-gittip:before { content: "\f184"; }
.#{$iconfont-css-prefix}-sun-o:before { content: "\f185"; }
.#{$iconfont-css-prefix}-moon-o:before { content: "\f186"; }
.#{$iconfont-css-prefix}-archive:before { content: "\f187"; }
.#{$iconfont-css-prefix}-bug:before { content: "\f188"; }
.#{$iconfont-css-prefix}-vk:before { content: "\f189"; }
.#{$iconfont-css-prefix}-weibo:before { content: "\f18a"; }
.#{$iconfont-css-prefix}-renren:before { content: "\f18b"; }
.#{$iconfont-css-prefix}-pagelines:before { content: "\f18c"; }
.#{$iconfont-css-prefix}-stack-exchange:before { content: "\f18d"; }
.#{$iconfont-css-prefix}-arrow-circle-o-right:before { content: "\f18e"; }
.#{$iconfont-css-prefix}-arrow-circle-o-left:before { content: "\f190"; }
.#{$iconfont-css-prefix}-caret-square-o-left:before { content: "\f191"; }
.#{$iconfont-css-prefix}-dot-circle-o:before { content: "\f192"; }
.#{$iconfont-css-prefix}-wheelchair:before { content: "\f193"; }
.#{$iconfont-css-prefix}-vimeo-square:before { content: "\f194"; }
.#{$iconfont-css-prefix}-try:before { content: "\f195"; }
.#{$iconfont-css-prefix}-plus-square-o:before { content: "\f196"; }
