@charset "UTF-8";

.navbar {
  margin: -20px 0 0;
  padding-top: 15px;
  min-height: 50px;
  border-top: 4px solid #b91f1f;
  border-bottom: 1px solid #e7e7e7;
  background-color: #ededed;

  header {
    padding: 0 15px;
    @include flexbox((
      display: box
    ), $version: 1);
  }

  h1, .navbar-toggle {
    @include flexbox((
            box-flex: 1
    ), $version: 1);
  }

  h1 {
    margin: 0;
    line-height: 34px;
    font-size: 20px;
  }

  .navbar-toggle {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 9px 10px;
    border-radius: 4px;

    &:active {
      background-color:#ddd;
    }

    .icon-bar {
      display: block;
      margin-bottom: 4px;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color:#ccc;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .navbar-collapse {
    @include flexbox((
            display: box
    ), $version: 1);
    margin: 10px 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;

    @include transition(max-height .3s ease);
    
    &.show {
      max-height: 40px;
    }

    li {
      position: relative;
      list-style: none;
      @include flexbox((
              box-flex: 1
      ), $version: 1);
      line-height: 40px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-left: 1px solid #b1b1b1;
      }

      &:first-child {
        &:before {
          border-left: none;
        }
      }

      a {
        display: block;
        width: 100%;
        line-height: 28px;
        text-align: center;
        color: #999;

        &:active {
          color: #000;
        }
      }

      &.active {
        a { color: #000; }
      }
    }
  }
}

.sidebar {
  position: fixed;

  margin-left: -#{$base-nav-width};
  border-top: 4px solid #b91f1f;
  padding-top: 30px;
  width: $base-nav-width;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  background: #f8f8f8;

  .brand {
    a {
      display: block;
      text-indent: 20px;
      font-size: inherit;
      @include link-colors(#6c7077, #d90006);
      @include transition(all 0.5s);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .description {
    font-size: 15px;
    font-weight: 100;
    text-indent: 20px;
    color: #5d5f67;
  }

  .follow {
    @include flexbox((
        display: box
    ), $version: 1);
    @include display-flex;
    list-style: none;
    margin: 0;
    padding: 0 10px;

    & > li {
      @include flexbox((
          display: box
      ), $version: 1);
      @include display-flex;
      @include flex(1);
      @include justify-content(center);
    }

    a {
      display: block;
      margin-right: 10px;

      $follow-icon-size: 22px;

      width: $follow-icon-size * 2;
      height: $follow-icon-size * 2;
      line-height: $follow-icon-size * 2;

      background: #f8f8f8;
      font-size: $follow-icon-size;
      border-radius: 60px;
      vertical-align: middle;
      text-align: center;

      text-decoration: none;
      color: #999;

      &:hover {
        color: #000;
        background: #fff;
        text-decoration: none;
      }
    }
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      margin: 10px 0;
      text-indent: 40px;
      font-weight: 200;
      color: #9c9c9c;
      @include text-shadow(1px 1px #fff);

      &.active {
        a {
          @extend %handle-active;
        }
      }
    }

    a {
      display: block;
      font-size: 18px;
      line-height: 40px;

      color: #999;
      @include transition(all .2s ease 0);

      &:hover {
        @extend %handle-active;
      }
    }

    %handle-active {
        color: #000;
        background: #fff;
        text-decoration: none;
    }
  }

  #J-back-top {
    position: absolute;
    bottom: 20px;
    right: 30px;

    font-size: 32px;
    visibility: hidden;
    @include opacity(0);

    @include transition(opacity .5);

    a {
      @include link-colors(#000, #999);
    }

    &.show {
      @include opacity(1);
      visibility: visible;
    }
  }
}
