<!-- nav -->
<nav class="navbar navbar-default visible-xs">
    <header>
        <h1>{{ site.title }}</h1>
        <button type="button" class="navbar-toggle" data-role="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </header>
    <ul class="navbar-collapse" data-role="navbar-collapse">
        {% for link in site.nav %}
        {% assign activeStyle = nil %}
        {% if page.url == link.url%}
        {% assign activeStyle = ' class="active"' %}
        {% endif %}
        <li{{ activeStyle }}><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
</nav><!-- /.navbar -->

<!-- sidebar -->
<nav class="sidebar hidden-xs">
    <h1 class="brand"><a href="{{ site.url }}">{{ site.title }}</a></h1>
    {% if site.description %}<h4 class="description">{{ site.description }}</h4>{% endif %}

    <hr>

    <ul class="menu">
        {% for link in site.nav %}
        {% assign activeStyle = nil %}
        {% if page.url == link.url%}
            {% assign activeStyle = ' class="active"' %}
        {% endif %}
        <li{{ activeStyle }}><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>

    <hr>

    <ul class="follow">
        <li><a href="/feed.xml"><i class="iconfont-rss"></i></a></li>
        <li><a href="{{ site.owner.weibo }}" target="_blank"><i class="iconfont-weibo"></i></a></li>
        <li><a href="{{ site.owner.github }}" target="_blank"><i class="iconfont-github-alt"></i></a></li>
    </ul>

    <p id="J-back-top">
        <a href="#top" data-role="go-top">
            <i class="iconfont-arrow-circle-up"></i>
        </a>
    </p>
</nav><!-- /.sidebar -->
